@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url('./assets/whi.svg') no-repeat center center/ cover;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    min-height: 90vh;
    margin: 2rem;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


header  {
    min-height: 5vh;
    width: 100%;
    background: black;
    padding: 1rem 1.25rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h3 a{
    padding: 0.5rem 0.75rem;
    color: #fff;
}

header nav h3 a:hover {
    background: white;
    color: #000;
    border-radius: 0.5rem;
}

/* MAIN SECTION */
.main {
    max-width: 100%;
    min-height: 75vh;
    padding: 1rem 2rem;
    background: url('./assets/yellow.svg') no-repeat center center/ cover;
}

.main.profit-loss-theme {
    background: url('./assets/yellow.svg') no-repeat center center/ cover;
}

.main.profit-theme {
    background-image:  url('https://media.giphy.com/media/uDUwRuxJIE973oAmZI/giphy.gif'), url('./assets/green.svg');
    background-repeat: no-repeat,
        no-repeat;
    background-position: bottom right,
        center center;
    background-size: contain,
        cover;

    color: #fff;
}

.main.loss-theme {
    background-image:  url('https://i.pinimg.com/originals/91/95/f4/9195f4dd1b69f90038f627c8af422429.gif'), url('./assets/red.svg');
    background-repeat: no-repeat,
        no-repeat;
    background-position: center center,
        center center;
    background-size: cover,
        cover;
    
    color: #fff;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.container h1 {
    font-size: 2rem;
    margin: 1rem auto;
}

label, input[type="number"] {
    display: block;
}



label {
    font-size: 1.2rem;
    font-weight: bold;
}


input[type="number"] {
    max-width: 200px;
    margin: 0.5rem auto 1rem auto;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.btn-check {
    display: block;
    max-width: 200px;
    margin: 1.5rem auto 0.5rem auto;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
}

.main.loss-theme .message {
    border: 2px solid #fff;
    background-color: #aa0000;
}

.main.profit-theme .message {
    border: 2px solid #fff;
    background-color: #113311;
}

.message {
    border: 2px solid #000;
    padding: 1rem;
    margin: 1rem auto;
}

.display-none {
    display: none;
}

/* FOOTER */
footer {
    width: 100%;
    background: black;
}

footer ul.social-links {
    width: 100%;
    min-height: 5vh;
    text-align: center;
}

.social-links li {
    margin: 1rem 2rem;
    display: inline-block;
}

.social-links li a {
    padding: 0.5rem 0.75rem;
    color: #fff;
}

.social-links li a:hover {
    background: white;
    color: #000;
    border-radius: 0.5rem;
}

i.fab {
    margin-right: 0.25rem;
}

